/* Background 
------------------------------------ */
.bg {
background: #a73737;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* @form header themes 
------------------------------------ */
.smart-forms .header-music {	
	background-color:#7a2828;
	border-top:1px solid #a73737;  
	border-bottom:5px solid #a73737;
}

.smart-forms .header-lite{ border-top-color:#a73737; }
.smart-forms .header-lite:before{ background-color:#CC6565; }
.smart-forms .header-music h4{ color:#fff; }

/* @form tagline 
-------------------------------------- */
.smart-forms .theme-music .tagline span{ color:#7a2828; }
.smart-forms .theme-music .smart-link{ color:#7a2828; }

/* @hover | focus  
---------------------------------------- */
.smart-forms .theme-music .gui-input:hover,
.smart-forms .theme-music .gui-textarea:hover,
.smart-forms .theme-music .select > select:hover,
.smart-forms .theme-music .select-multiple select:hover, 
.smart-forms .theme-music .gui-input:hover ~ .input-hint,
.smart-forms .theme-music .file .gui-file:hover + .gui-input,
.smart-forms .theme-music .gui-textarea:hover ~ .input-hint{ border-color: #5F1F1F; }

.smart-forms .theme-music .gui-input:focus,
.smart-forms .theme-music .gui-textarea:focus,
.smart-forms .theme-music .select > select:focus,
.smart-forms .theme-music .select-multiple select:focus{ 
	border-color: #7a2828;
	-webkit-box-shadow:0px 0px 3px #7a2828 inset; 
	-moz-box-shadow:0px 0px 3px #7a2828 inset; 
	-o-box-shadow:0px 0px 3px #7a2828 inset; 	
	box-shadow:0px 0px 3px #7a2828 inset; 
	color: #3C3C3C; 
}

.smart-forms .theme-music .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-music .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-music .gui-input:focus ~ .field-icon i,
.smart-forms .theme-music .gui-textarea:focus ~ .field-icon i{ color:#7a2828; }
.smart-forms .theme-music .select-multiple select:focus, 
.smart-forms .theme-music .gui-input:focus ~ .input-hint,
.smart-forms .theme-music .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-music .file .gui-file:focus + .gui-input{ border-color: #7a2828; }
.smart-forms .theme-music .select > select:focus + .arrow{ color:#7a2828; }

/* @star rating 
------------------------------------------------- */
.smart-forms .theme-music .rating:hover .rating-star:hover,
.smart-forms .theme-music .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-music .rating-input:checked ~ .rating-star { color: #7a2828;	}
.smart-forms .theme-music .rating-star, 
.smart-forms .theme-music .rating:hover .rating-star {	color: #A2A6A8;	 }


/* @checkbox + radio music 
--------------------------------------------------- */
.smart-forms .option-music input:hover + .checkbox,  
.smart-forms .option-music input:hover + .radio{ border-color: #5F1F1F; }
.smart-forms .option-music input:checked + .checkbox, 
.smart-forms .option-music input:focus + .checkbox, 
.smart-forms .option-music input:checked + .radio, 
.smart-forms .option-music input:focus + .radio{ border-color: #7a2828; }
.smart-forms .option-music input:checked + .radio:before, 
.smart-forms .option-music input:focus + .radio:before{  background: #7a2828; }
.smart-forms .option-music input:checked + .checkbox:before, 
.smart-forms .option-music input:focus + .checkbox:before{ border-color: #7a2828; }

/* @toggle-switch music 
--------------------------------------------- */
.smart-forms .switch-music > input:checked + .switch-label { background: #7a2828; border-color: #7a2828; }
.smart-forms .switch-music > input:checked + .switch-label:after { color:#7a2828; }
.smart-forms .switch-music > input:checked:focus + .switch-label { background: #a73737; border-color: #a73737; }

/* @button music 
----------------------------------------------- */
.smart-forms .btn-music { background-color: #7a2828; }
.smart-forms .btn-music:hover,
.smart-forms .btn-music:focus{ background-color: #5F1F1F; }
.smart-forms .btn-music:active{ background-color: #a73737; }
.smart-forms .btn-music, 
.smart-forms .btn-music:hover,
.smart-forms .btn-music:focus, 
.smart-forms .btn-music:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08);  }

/* @datepicker overides 
-------------------------------------------------- */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-title { color:#7a2828; }
.ui-datepicker-today a, 
.ui-datepicker-today a:hover, 
.ui-datepicker .ui-state-highlight { background:#7a2828!important; }

/*  @price-box 
------------------------------------------------------ */
.smart-forms .theme-music .selected-box h4{ color:#7a2828; }
.smart-forms .ribbon-inner{ background: #7a2828; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#a73737; }

/*  NAVIGATION COLOR
------------------------------------------------------ */
.sky-mega-menu li:hover > a,
.sky-mega-menu li.current > a {
	background: #7a2828;
	color: #fff;
}

.sky-mega-menu form .input:hover input,
.sky-mega-menu form .textarea:hover textarea {
	border-color: #5F1F1F;
}
.sky-mega-menu form .button {
	background-color: #7a2828;	
}
.sky-mega-menu form .input input:focus,
.sky-mega-menu form .textarea textarea:focus {
	border-color: #7a2828;
}

/*ICON HEADER */
.head-icon {
 color:#7a2828 !important;
 text-shadow: 0 1px 0 #5F1F1F,
 0 1px 0 #c9c9c9,
 0 2px 0 #bbb,
 0 3px 0 #b9b9b9,
 0 4px 0 #aaa,
 0 5px 1px rgba(0,0,0,.1),
 0 0 4px rgba(0,0,0,.1),
 0 1px 2px rgba(0,0,0,.3),
 0 2px 3px rgba(0,0,0,.2),
 0 4px 9px rgba(0,0,0,.25),
 0 9px 9px rgba(0,0,0,.2),
 0 10px 10px rgba(0,0,0,.15);
}

.notification {
	border: #7a2828 1px dashed !important;
}