<!-- Donate Modal -->
<div class="modal fade" id="donate-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelLarge">{lang_donate}</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="spacer-b10">
                        Wir sind für jede Art von Spende Dankbar und zeigt uns, dass euch unser Angebot gefällt.
                        <br />Vielen Dank im Voraus.</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h4 class="text-center">UPLOADED.TO</h4>
                            </div>
                            <div class="panel-body text-center">
                                Mit einem Premium-Kauf über unseren Ref-Link, spendest du Quasi mit einer Provision.
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Fullspeed beim Download</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Keine Captcha/Wartezeit</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> 500GB Downloadvolumen</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-md btn-block btn-success" href="index.php?ssbg=uldonate" target="_blank">{lang_donate}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="text-center">BITCOIN</h4>
                            </div>
                            <div class="panel-body text-center">
                                Wenn dir SSBG gefällt, dann Spende doch via BitCoin, einen Betrag deiner Wahl.
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Sichert SSBG ab</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Motivierend</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Absolute Dankbarkeit</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-md btn-block btn-success" href="bitcoin:13yYPmRp6cruTu6sxuMhTdG2BzYFAFi9u3" target="_blank">{lang_donate}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h4 class="text-center">SHARE-ONLINE.BIZ</h4>
                            </div>
                            <div class="panel-body text-center">
                                Mit einem Premium-Kauf über unseren Ref-Link, spendest du Quasi mit einer Provision.
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Fullspeed beim Download</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Keine Captcha/Wartezeit</li>
                                <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> 150GB Downloadvolumen</li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-md btn-block btn-success" href="index.php?ssbg=sodonate" target="_blank">{lang_donate}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
