<!-- mega menu -->
<ul class="sky-mega-menu sky-mega-menu-fixed sky-mega-menu-response-to-icons sky-mega-menu-anim-scale">
    <!-- home -->
    <li>
        <a href="index.php"><i class="fa fa-single fa-home"></i></a>
    </li>
    <!--/ home -->
    <!--/ GENERATOREN-->
    <li aria-haspopup="true">
        <a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Source Generatoren</a>
        <div class="grid-container6">
            <div class="grid-column grid-column2">
                <ul>
                    <li><a href="index.php?ssbg=game"><i class="fa fa-gamepad" aria-hidden="true"></i> {lang_games}</a></li>
                    <li><a href="index.php?ssbg=music"><i class="fa fa-music" aria-hidden="true"></i> {lang_music}</a></li>
                    <li><a href="index.php?ssbg=movie"><i class="fa fa-film" aria-hidden="true"></i> {lang_movie}</a></li>
                </ul>
            </div>
            <div class="grid-column grid-column2">
                <ul>
                    <li><a href="index.php?ssbg=software"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {lang_software}</a></li>
                    <li><a href="index.php?ssbg=porn"><i class="fa fa-transgender-alt" aria-hidden="true"></i> {lang_porn}</a></li>
                    <li><a href="index.php?ssbg=moviexrel"><i class="fa fa-film" aria-hidden="true"></i> {lang_moviexrel}</a></li>
                </ul>
            </div>
            <div class="grid-column grid-column2">
                <ul>
                    <li><a href="index.php?ssbg=simple"><i class="fa fa-hashtag" aria-hidden="true"></i> {lang_simple}</a></li>
                    <li><a href="#">Coming Soon</a></li>
                    <li><a href="#">Coming Soon</a></li>
                </ul>
            </div>
        </div>
    </li>
    <!--/ GENERATOREN -->
      <!-- [: FRIENDS :] -->
      <li aria-haspopup="true">
        <a href="#"> <!-- class="badgeinfo" data-badgeinfo="1+"-->
          <i class="fa fa-users">
          </i>{lang_friends_and_partner}
        </a>
        <div class="grid-container4">
          <ul>
            <li>
              <a href="https://www.szenebox.org" target="_blank" title="Szenebox.org - Im Mittelpunkt der Szene">
                <i class="fa fa-user">
                </i>Szenebox.org
              </a>
            </li>
            <li>
              <a href="https://www.scriptzbase.org/" target="_blank" title="ScriptzBase.org | Germany's No.1 for Nulled Scripts">
                <i class="fa fa-user">
                </i>ScriptzBase.org
              </a>
            </li>
            <li>
              <a href="https://www.scenedownloads.pw/" target="_blank" title="Your automatically updated source for scene-releases">
                <i class="fa fa-user">
                </i>SceneDownloads.pw
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--/ [: FRIENDS :] -->
      <!-- ´/ Service -->
      <li>
        <a href="https://www.szenebox.org/158-ssbg-simple-szene-bbcode-generator/" target="_blank">
          <i class="fa fa-question-circle">
          </i>{lang_support}
        </a>
      </li>
      <li>
        <a href="linkus.php">
          <i class="fa fa-thumbs-o-up">
          </i>Link Us
        </a>
      </li>
      <!--/ Service -->
    <!-- api -->
    <li class="right">
        <a href="index.php?ssbg=api"><i class="fa fa-info" aria-hidden="true"></i>API</a>
    </li>
    <!--/ api -->
    <!-- faq -->
    <li class="right">
        <a href="index.php?ssbg=faq"><i class="fa fa-question" aria-hidden="true"></i>FAQ</a>
    </li>
    <!--/ faq -->
    <!-- contacts -->
    <li class="right">
        <a href="#" data-toggle="modal" data-target="#donate-modal"><i class="fa fa-usd" aria-hidden="true"></i>{lang_donate_support}</a>
    </li>
    <!--/ contacts -->
</ul>
<!--/ mega menu -->
